:root {
  --almost-white: #f9f9f9;
  --almost-gray: #d3d3d3;
  --grey: #707070;
  --dark-purple: #4b3f80;
  --light-purple: #c8c3de;
  --light-yellow: #fff2ae;
  --dark-yellow: #faea97;
  --light-green: #9bbea1;
  --dark-green: #3f8073;
  --light-brown: #b18873;
  --dark-brown: #47362e;

  --blue-gradient-bottom: linear-gradient(
    0deg,
    rgba(0, 29, 255, 0.7161239495798319) 0%,
    rgba(72, 100, 144, 0.34077380952380953) 91%
  );
  --purple-gradient-top: linear-gradient(
    0deg,
    rgba(128, 128, 128, 0.1699054621848739) 46%,
    rgba(85, 39, 124, 0.8421743697478992) 100%
  );
  --purple-gradient-bottom: linear-gradient(
    0deg,
    rgba(96, 96, 150, 1) 0%,
    rgba(128, 128, 128, 0.15029761904761907) 100%
  );
  --blue-gradient-top: linear-gradient(
    180deg,
    rgba(0, 29, 255, 0.6797093837535014) 0%,
    rgba(72, 100, 144, 0.4780287114845938) 38%
  );
  --light-green-gradient-top: linear-gradient(
    180deg,
    rgba(86, 175, 90, 0.8757878151260504) 0%,
    rgba(255, 255, 255, 0.2091211484593838) 50%
  );
  --dark-green-gradient-top: linear-gradient(
    180deg,
    rgba(59, 92, 31, 0.8477766106442577) 0%,
    rgba(128, 128, 128, 0.15029761904761907) 48%
  );
  --white-gradient-top: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(128, 128, 128, 0.15029761904761907) 58%
  );
  --dark-blue-purple-top: linear-gradient(
    0deg,
    rgba(75, 35, 154, 0.3603816526610645) 40%,
    rgba(41, 10, 102, 0.9122023809523809) 100%
  );

  --card-shadow: 12px 13px 12px -16px rgba(0, 0, 0, 0.46);

  --menu-shadow: 3px 0px 21px 1px rgba(0, 0, 0, 0.33);

  --button-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.23);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--almost-white);
}

h1,
h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: var(--almost-white);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--almost-white);
}

p {
  color: var(--almost-gray);
}

svg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.content-card,
.content-card-static {
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  height: 300px;
  width: 90vw;
  padding: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.content-card {
  transition: transform 450ms ease;
}

.content-card:hover {
  transform: rotate(1.5deg);
}

.button {
  border-radius: 50px;
  font-family: "Dosis", sans-serif;
  padding: 10px 30px;
}

a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  font-family: "Dosis", sans-serif;
}

:focus {
  border: 3px solid skyblue;
}

/* ---------- NAVBAR ---------- */

nav {
  position: fixed;
  z-index: 1;
  background-color: var(--almost-white);
  display: none;
  width: 300px;
  padding-top: 20px;
  box-shadow: var(--menu-shadow);
}

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--almost-white);
}

.navbar label {
  z-index: 2;
  position: fixed;
  left: 0;
  margin-top: 16px;
}

.navbar label svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  height: 100vh;
}

.csm-logo-large {
  width: 150px;
  margin-bottom: 30px;
}

.rocket-illustration {
  width: 150px;
}

.side-menu ul {
  padding: 0;
}

.side-menu li a  {
  font-size: 1.1rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  transition: .4s;
}

.navbar li a:hover {
  color: var(--almost-white);
  background-color: var(--dark-purple);
}

.navbar li a:hover svg {
  fill: var(--almost-white);
}

.active {
border: 1px solid var(--dark-purple);
}

.side-menu li {
  list-style-type: none;
  margin-bottom: 30px;
}

.support-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-us-wrapper a {
  text-align: center;
  background-color: var(--light-yellow);
  padding: 10px 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: var(--button-shadow);
  transition: ease-in-out 200ms;
}

.support-us-wrapper a:hover {
  background-color: var(--light-green);
  
}

/* ---------- LAYOUT ---------- */

body {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* ---------- MOBILE ---------- */

/* Index page */
#index-main {
  margin-bottom: 200px;
  margin-top: 20px;
}

.explore-together-card {
  background-image: var(--blue-gradient-bottom), url(/img/explore-together.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-size: 150%;
}

.arrow {
  width: 40px;
  height: 40px;
  fill: var(--almost-white);
}

.interactive-learning-card {
  background-image: url(/img/girl-with-headphones.jpg);
}

.visiting-hours-card {
  background-image: var(--dark-blue-purple-top),
    url(/img/kids-walking-together.jpg);
  background-size: 150%;
}

.picture-card-small {
  background-image: url(/img/ai-experiment.jpg);
}

.events-card {
  background-color: var(--light-green);
}

.events-card h2 {
  font-size: 1.2rem;
  border-bottom: 0.4px solid black;
  padding-bottom: 10px;
  color: black;
}

.events-card p {
  font-size: 0.7rem;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
}

.events-card-button {
  background-color: var(--dark-green);
  color: var(--almost-white);
}

.events-card-button:hover {
  background-color: var(--dark-purple);
}

.picture-card-big {
  background-image: var(--purple-gradient-top), url(/img/research-facility.jpg);
}

/* Exhibitions */
#exhibitions-main {
  grid-template-rows: repeat(5, 1fr);
}

.exhibitions-heading {
  color: black;
}

.evolution-card {
  background-image: var(--blue-gradient-top), url(/img/dinosaur-exhibit.jpg);
}

.robo-ai-card {
  background-image: var(--light-green-gradient-top), url(/img/ai-experiment.jpg);
}

.cosmology-card {
  background-image: var(--purple-gradient-top), url(/img/cosmology.jpg);
}

.ecology-card {
  background-image: var(--dark-green-gradient-top),
    url(/img/ee-trash-and-boy.jpg);
}

.biology-medicine-card {
  background-image: var(--purple-gradient-top), url(/img/head-anatomy-model.jpg);
}

/* Exhibit*/
#exhibit-main {
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 100px;
}
.dinosaur-hero {
  background-image: url(/img/dinosaur-exhibit.jpg);
  
}

.exhibit-information {
  background-color: var(--dark-purple);
}

.exhibit-information h1 {
  margin-bottom: 10px;
}

.exhibit-information p {
  font-size: .75rem;
}

.evolution-picture {
  background-image: url(/img/evolution-2.jpg);
}

/* Events */
#events-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#events-main h1 {
  color: black;
  font-size: 2rem;
  align-self: flex-start;
}

.event {
  display: flex;
  background-color: var(--light-green);
  border-radius: 20px;
  height: 150px;
  max-width: 650px;
  width: 100%;
}

.date {
  background-color: var(--dark-green);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.event-information h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}

.event-information p {
  color: black;
  font-size: .7rem;
  margin-right: 20px;
}

.purple .date {
  background-color: var(--dark-purple);
}

.purple {
  background-color: var(--light-purple);
}

.brown .date {
  background-color: var(--dark-brown);
}

.brown {
  background-color: var(--light-brown);
}

/* Visitor information */
#visit-main .content-card-static {
  height: 400px;
}

.visiting-hours-public-card {
  background-color: var(--light-purple);
}

.visiting-hours-public-card h1 {
  color: black;
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.visiting-hours-public-card h2 {
  color: black;
  font-size: .9rem;
  margin-bottom: 20px;
}

.visiting-hours-public-card h3 {
  color: black;
  font-size: .7rem;
  margin-bottom: 10px;
}

.peak-hours-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-purple);
}

.peak-hours-card label {
  font-size: .7rem;
  color: var(--almost-gray);
  margin-top: 10px;
}

.peak-hours-card select {
  width: 100px;
  border: none;
  margin-top: 5px;
}

.peak-hours-card img {
  max-width: 500px;
  margin-top: 50px;

}

.visiting-hours-school-card {
  background-color: var(--dark-green);
}

.visiting-hours-school-card h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.visiting-hours-school-card h3 {
  font-size: .7rem;
  margin-bottom: 10px;
}

.opening-hours-research-card {
  background-color: var(--dark-brown);
}

.opening-hours-research-card h2  {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.opening-hours-research-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.address-card {
  background-color:var(--dark-purple);
}

.address-card h2 {
  margin-bottom: 20px;
}

.address-card h3 {
  font-size: 1.6rem;
}

.map-card {
  background-image: url(/img/map.png);
  background-position: center center;
  background-size: cover;
}

/* Support us */

#support-main {
  grid-template-rows: repeat(3, 1fr);
}
.volunteer-card {
  background-image: var(--dark-blue-purple-top),
    url(/img/kids-raising-hands.jpg);
}

.volunteer-card h1 {
  font-size: 2rem;
}

.volunteer-card h2 {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.volunteer-card p {
  color: var(--almost-white);
}

.newsletter-card {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}

.newsletter-card form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.newsletter-card h2 {
  font-size: 1.4rem;
}

.newsletter-card h3 {
  font-size: .8rem;
  margin-bottom: 30px;
}

.newsletter-card label {
  color: var(--grey);
  font-size: .9rem;
}

#email {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 10px;
}

#submit {
  background-color: var(--dark-purple);
  border: none;
  color: var(--almost-white);
}

#submit:hover {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

.fundraiser-card {
  background-image: var(--purple-gradient-top), url(/img/stars.jpg);
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (min-width: 1100px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    justify-content: center;
  }

  .navbar label {
    display: none;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  #hamburger-menu {
    display: none;
  }
  #hamburger-menu ~ img {
    display: none;
  }
  #hamburger-menu ~ nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 265px;
  }

  .content-card,
  .content-card-static {
    width: auto;
    height: 300px;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 70px;
    margin-left: 300px;
  }
  /* Index page */
  #index-main {
    grid-template-rows: repeat(3, 1fr);
  }

  .explore-together-card {
    grid-area: 1 / 1 / 2 / 3;
  }

  .interactive-learning-card {
    grid-area: 1 / 3 / 2 / 4;
  }

  .visiting-hours-card {
    grid-area: 2 / 1 / 3 / 2;
  }

  .picture-card-small {
    grid-area: 2 / 2 / 3 / 3;
  }

  .events-card {
    grid-area: 2 / 3 / 3 / 4;
  }

  .picture-card-big {
    grid-area: 3 / 1 / 4 / 4;
  }

  /* Exhibit */
  #exhibit-main {
    grid-template-rows: repeat(2, 1fr);
  }

  .dinosaur-hero {
    grid-area: 1 / 1 / 2 / 4;
  }

  .exhibit-information {
    grid-area: 2 / 1 / 3 / 3;
  }

  .exhibit-information p {
    font-size: 1rem;
  }

  .evolution-picture {
    grid-area: 2 / 3 / 3 / 4;
  }

  /* Exhibitions */
  .evolution-card {
    grid-area: 1 / 1 / 2 / 2;
  }

  .robo-ai-card {
    grid-area: 1 / 2 / 2 / 4;
  }

  .cosmology-card {
    grid-area: 2 / 1 / 3 / 4;
  }

  .ecology-card {
    grid-area: 3 / 1 / 4 / 2;
  }

  .biology-medicine-card {
    grid-area: 3 / 2 / 4 / 4;
  }

  /* Events */
  .date {
    height: 150px;
    width: 250px;
  }

  .event-information h3 {
    font-size: 2rem;
  }

  .event-information p {
    font-size: 1rem;
  }

  /* Visitor information */
  .visiting-hours-public-card {
    grid-area: 1 / 1 / 2 / 2;
  }
  .peak-hours-card {
    grid-area: 1 / 2 / 2 / 4;
  }
  .visiting-hours-school-card {
    grid-area: 2 / 1 / 3 / 2;
  }
  .opening-hours-research-card {
    grid-area: 2 / 2 / 3 / 4;
  }

  .address-card {
    grid-area: 3 / 1 / 4 / 2;
  }

  .map-card {
    grid-area: 3 / 2 / 4 / 4;
  }

  /* Support us */
  #support-main {
    grid-template-rows: repeat(2, 1fr);
  }
  .volunteer-card {
    grid-area: 1 / 1 / 2 / 4;
  }

  .newsletter-card {
    grid-area: 2 / 1 / 3 / 2;
  }

  .fundraiser-card {
    grid-area: 2 / 2 / 3 / 4;
  }
}

@media screen and (min-width: 1450px) {
  .events-card h2 {
    font-size: 1.5rem;
    
  }
  
  .events-card p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 2000px) {
  .content-card,
  .content-card-static {
    height: 500px;
  }

  .events-card h2 {
    font-size: 2.5rem;
    
  }
  
  .events-card p {
    font-size: 1.5rem;
  }

  .events-card-button {
    font-size: 2rem;
  }
}
